<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>

  <main class="w-full max-w-lg mx-auto my-10">
    <form action="/admin/add-product" method="POST">
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-last-name"
        type="text"
        name="title"
        placeholder="Product Name"
        required
      />
      <button
        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mt-5"
        type="submit"
      >
        Submit
      </button>
    </form>
  </main>
</body>
