extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/shop.css")
    link(rel="stylesheet", href="/css/products.css")


block content
    main.container.mx-auto.mt-3.main-section 
        form.form-control(action="/admin/add-product", method="POST") 
            input.form-control__input(type="text", name='title', placeholder="Product Name")
            
            button.form-control__button(type='submit') Submit

    //- main.container.mx-auto.mt-3.main-section




        
    
     