<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/navbar.ejs') %>

  <main class="container mx-auto mt-3 main-section">
    <form action="/admin/add-product" method="POST" class="form-control">
      <input
        class="form-control__input"
        type="text"
        name="title"
        placeholder="Product Name"
        required
      />
      <button class="form-control__button" type="submit">Submit</button>
    </form>
  </main>
</body>
