<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/navbar.ejs') %>

  <main class="mx-auto shop-container">
    <h3 class="title">My Shop Products</h3>
    <p class="sub_title">List of all Products</p>

    <% if(products.length > 0) { %>
    <div class="product__container">
      <% for (let product of products) { %>
      <div class="product__card">
        <div class="product__image">
          <img src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
        </div>
        <div class="product__details">
          <h3 class="product__title"><%= product.title %></h3>
          <p class="product__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, sunt!
          </p>
          <button class="product__button">Buy Now</button>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>

    <h1 class="not__found_message">Not Product Found</h1>

    <% } %>
  </main>
</body>
