doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/products.css")
    body 

    nav.navbar
        a.navbar-brand MVC Shop
          ul.navbar-nav
            li.nav-item
                a.nav-link(href="/") Shop 
            li.nav-item
                a.nav-link(href="/admin/add-product") Add Product 
    

    main.container.mx-auto.shop-container
      h3.title My Shop Products
      p.sub_title List of all Products
      




    if products.length > 0
        .product__container
            each product in products
                .product__card
                    .product__image
                        img(src="https://flowbite.com/docs/images/blog/image-1.jpg", alt="Product")
                    .product__details
                        h3.product__title #{product.title}
                        p.product__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
                        button.product__button Buy Now
    
    else 
        h1.not__found_message No Products Found
    