* {
  margin: 0;
  padding: 0;
}

.shop-container {
  margin-top: 10px !important;
}

.shop-container .title {
  font-size: 30px;
  font-weight: 600;
  color: chocolate;
  font-family: "Courier New", Courier, monospace;
}
.shop-container .sub_title {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: tomato;
}
