<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>

  <main class="my-4 px-4 lg:px-20">
    <p class="text-center text-xl font-semibold text-gray-800">Orders</p>
  </main>
</body>
